<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
    <nav class="w-44 h-screen bg-[#320b15] flex flex-col">
        <h2 class="text-white text-4xl font-light w-full h-1/5 flex items-center justify-center">
            Logo
        </h2>
        <ul class="flex flex-col items-center gap-4">
            <a href="/home" class="text-[#FEC0CE] border-2 rounded w-4/5 px-3 py-2 border-[#FEC0CE]">
                home
            </a>
            <a href="/dashboard" class="text-[#FEC0CE] border-2 rounded w-4/5 px-3 py-2 border-[#FEC0CE]">
                Dashboard
            </a>
            <a href="/contacts" class="text-[#FEC0CE] border-2 rounded w-4/5 px-3 py-2 border-[#FEC0CE]">
                Contacts
            </a>
        </ul>
    </nav>

</body>
</html>
